<div class="banner imageContent">
  <div class="overlay">
    <div class="banner-content">
      <h1>Storify your life.</h1>
      <p>Become a storyteller with Silvapowa</p>
      <a href="#scan" class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>
</div>

<!-- GRAY CONTAINER -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <h1>43%</h1>
        <p>Almost half of people over 60 suffer from loneliness</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <h1>15</h1>
        <p>15 cigarettes a day: the effects of loneliness on physical and cognitive health</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <h1>64%</h1>
        <p>Lonely seniors are 64% more likely to develop dementia and 32% to get a stroke </p>
      </div>
    </div>
  </div>
</div>

<h1 class="mar-top">Having trouble socializing?</h1>
<h2 class="mar-bottom">Share your stories with others. Listen to other's stories!</h2>

<!-- GRAY CONTAINER -->
<div class="container">
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="card">
          <%= image_tag "thinking.png" %>
          <p>Storytelling improves the brain by forming new neuronal pathways</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="card">
          <%= image_tag "old-man-hand-drawn-face.png" %>
          <p>Speaking improves mood, communication skills and social interactions</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="card">
          <%= image_tag "heartbeats.png" %>
          <p>Exchanging stories alleviates symptoms of agitation, depression and blood pressure</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GRAY CONTAINER -->
<h2 class="mar-top">How does it work?</h2>
<div class="container">
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="card">
          <%= image_tag "smartphone.png" %>
          <p>Open up your WeChat and scan the QR code</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="card">
          <%= image_tag "yoga-posture.png" %>
          <p>Start telling your stories. We'll help you choose a topic</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="card">
          <%= image_tag "love-triangle.png" %>
          <p>Get other people's comments!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Scan QR Code Section-->
<div id="scan">
  <h1 class="mar-top">Scan the QR code</h1>
  <h2>Share your life stories now.</h2>
  <%= image_tag("qr_bubble.jpeg", :alt => "qr code", :class => "qr") %>
</div>


<!-- TEAM -->
<div class="team-container">
  <h1>Meet the team</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img src="https://avatars3.githubusercontent.com/u/31037787?v=4">
      <div class="name">Harrison</div>
      <div class="link">@elephantonaleaf</div>
      <p>Having learned architecture in Taiwan, Korea and China, I am now a web developer </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="https://avatars0.githubusercontent.com/u/20118433?v=4">
      <div class="name">Ben</div>
      <div class="link">@yadoyadoya</div>
      <p>After 5 years of working in tech management, I decided to learn coding at Le Wagon</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="https://avatars0.githubusercontent.com/u/31949049?v=4">
      <div class="name">Lan</div>
      <div class="link">@thebluebeard</div>
      <p>Having my own company in education, I enjoy learning about design, full-stack development and foreign languages</p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<p id="footer">Brought to you by Silvapowa</p>

