<div class="banner imageContent">
  <div class="overlay">
    <div class="banner-content">
      <h1>Campfire Stories</h1>
      <p>The best place to share your stories</p>
      <a href="#scan" class="btn btn-primary btn-lg"><span>Start now</span></a>
    </div>
  </div>
</div>

<!-- dirty pink container -->

<div class="container gray">
  <h1 class="mar-top">Did you know?</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>43%</h1>
        <p>"Almost half of people over 60 suffer from loneliness"</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>15</h1>
        <p>"15 cigarettes a day: the effects of loneliness on physical and cognitive health"</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>64%</h1>
        <p>"Lonely seniors are 64% more likely to develop dementia and 32% to get a stroke"</p>
      </div>
    </div>
  </div>
</div>



<!-- dirty gray container -->
<div class="container pink">
  <h1 class="mar-top">Benefits of storytelling</h1>
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "thinking.png" %>
          <p>"Storytelling improves the brain by forming new neuronal pathways"</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "old-man-hand-drawn-face.png" %>
          <p>"Speaking improves mood, communication skills and social interactions"</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "heartbeats.png" %>
          <p>"Exchanging stories alleviates symptoms of agitation, depression and blood pressure"</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GRAY CONTAINER -->

<div class="container gray">
  <h1 class="mar-top">How to use campfire</h1>
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "smartphone.png" %>
          <p>Open up your WeChat and scan the QR code</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "yoga-posture.png" %>
          <p>Start telling your stories. We'll help you choose a topic</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "love-triangle.png" %>
          <p>Get other people's comments!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Scan QR Code Section-->
<div class="container pink" id="scan">
  <h1 class="mar-top">Scan the WeChat QR code</h1>
  <%= image_tag("silvapowa_qrcode.jpg", :alt => "silvapowa qr code", :class => "qr") %>
</div>


<!-- TEAM -->
<div class="container team gray">
  <h1>Meet the campfire builders</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag("harrison.png", :alt => "Harrison Kim") %>
      <p>Harrison</p>
      <p>@elephantonaleaf</p>
      <p>Architect. Teacher. Philanthropist. Web Developer.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="https://avatars0.githubusercontent.com/u/20118433?v=4">
      <p>Ben</p>
      <p>@yadoyadoya</p>
      <p>After 5 years of working in tech management, I decided to learn coding at Le Wagon</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="https://avatars0.githubusercontent.com/u/31949049?v=4">
      <p>Lan</p>
      <p>@thebluebeard</p>
      <p>Having my own company in education, I enjoy learning about design, full-stack development and foreign languages</p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="container pink">
  <p>Brought to you by Silvapowa</p>
</div>

